
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>menlo79</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" ng-href="../assets/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" ng-href="../assets/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" ng-href="../assets/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" ng-href="../assets/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  ng-href="./css/bootstrap.css">
<link rel="stylesheet" type="text/css" ng-href="./fonts/font-awesome/css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link ng-href="css/owl.carousel.css" rel="stylesheet" media="screen">
<link ng-href="css/owl.theme.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  ng-href="css/style.css">
<link rel="stylesheet" type="text/css" ng-href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" ng-href="css/nivo-lightbox/default.css">
<link ng-href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">menlo79</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#services" class="page-scroll">Angebot</a></li>
        <!-- <li><a href="#portfolio" class="page-scroll">Gallery</a></li> -->
        <li><a href="#testimonials" class="page-scroll">Why</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text"> <span>We are</span>
            <h1>menlo79</h1>
            <p>Wir denken mit dir Transport, Logistik und Mobilität neu - <br>
               Strategisch. Digital. Nutzerzentriert.</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Us</h2>
      <hr>
    </div>
    <div class="row">
      <!-- <div class="col-xs-12 col-md-6"> <img src="../assets/img/about.jpeg" class="img-responsive" alt=""> </div> -->
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>Lorem ipsum dolor sit amet!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>Lorem ipsum dolor sit amet!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quote Section -->
<div id="quotes" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2>Bei Digitalisierung geht es nicht um Technologie. <br>
              Es geht um die Geschichten die wir damit schreiben.</h2>
          <hr>
        </div>
        <!-- <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="achievement-box"> <span class="count">260</span>
              <h4>Customers</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="achievement-box"> <span class="count">83</span>
              <h4>Developers</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="achievement-box"> <span class="count">571</span>
              <h4>Projects</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="achievement-box"> <span class="count">12</span>
              <h4>Awards</h4>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Unser Angebot</h2>
      <hr>
      <p>Das Potenzial für digitale Produktideen in etablierten Organisationen ist 
        enorm - die vorhandenen Ideen gilt es zu identifizieren und konsequent umzusetzen. 
        <br><br>Wir unterstützen dich dabei, die komplexen und individuellen Herausforderungen bei 
        der Entwicklung, dem Design sowie der Valdierung und Umsetzung neuer digitaler Produkte 
        zu meistern.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-binoculars"></i>
        <h4>Digitale Strategie</h4>
        <p>Hinter jeder Digitalisierungsinitiative sollte eine gesamthafte Strategie stehen - 
          von der Generierung unternehmensrelevanter Informationen über die moderne und 
          skalierbare Speicherung bis zur Entwicklung herausragender neuer digitaler Produkte, die die 
          betrieblichen Prozesse verbessern oder zur Entwicklung neuer Geschäftsmodelle beitragen.</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-heart-o"></i>
        <h4>UX und GUI Design</h4>
        <p>Technische Features alleine reichen nicht mehr um Kunden und Nutzer zu begeistern. 
          Die Gestaltung der gesamten Nutzererfahrung und dem Design von digitalen Anwendungen
          entscheidet zunehmend über den Erfolg von Produkten.
      </p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>
        <h4>Digitale Transformation</h4>
        <p>Ebenso wichtig wie den Kunden in den Mittelpunkt zu stellen, ist es auf die Wünsche
          und Bedürfnisse deiner Mitarbeiter und Kollegen bei der Gestaltung digitaler Tools und 
          Prozesse einzugehen. 
        </p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-rocket"></i>
        <h4>Design Sprints</h4>
        <p>Vom Problem zur Idee zum Prototyp. Wir erarbeiten und challengen mit dir deine Ideen
          und validieren sie direkt durch Nutzer- und Kundefeedback anhand von Prototypen.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Achievements Section -->
<div id="achievements" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>“Design is thinking made visual.” - Saul Bass</h2>
        <hr>
      </div>
      <!-- <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">260</span>
            <h4>Customers</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">83</span>
            <h4>Developers</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">571</span>
            <h4>Projects</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">12</span>
            <h4>Awards</h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<!-- <div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Gallery</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".lorem">Lorem Ipsum</a></li>
            <li><a href="#" data-filter=".dolor">Dolor Sit</a></li>
            <li><a href="#" data-filter=".adipiscing">Adipiscing Elit</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/01-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="../assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="../assets/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/03-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="../assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/04-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="../assets/img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/05-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="../assets/img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/06-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="../assets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/07-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="../assets/img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="../assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="../assets/img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/10-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="../assets/img/portfolio/10-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/11-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="../assets/img/portfolio/11-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../assets/img/portfolio/12-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="../assets/img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Warum wir tun was wir tun</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item"> <img src="../assets/img/clients/01.jpg" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>John DOE</strong>, CEO, Company.</p>
          </div>
          <div class="item"> <img src="../assets/img/clients/02.jpg" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>Jenny DOE</strong>, CEO, Company.</p>
          </div>
          <div class="item"> <img src="../assets/img/clients/03.jpg" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
            <p><strong>John DOE</strong>, CEO, Company.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quote Section -->
<div id="quotes" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Junge Unternehmen und Technologiekonzerne werden weiterhin ganze Branchen aus einem 
          "digitalen Kern" heraus neu erfinden und verändern. 
          <br><br>Was wirst du und dein Unternehmen dagegen tun?</h2>
        <hr>
      </div>
      <!-- <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">260</span>
            <h4>Customers</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">83</span>
            <h4>Developers</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">571</span>
            <h4>Projects</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="achievement-box"> <span class="count">12</span>
            <h4>Awards</h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
      <p>Unsere Geschichte klingt spannend und glaubwürdig für dich? 
        Dann trete mit uns in Kontakt, um deine Reise in eine digitalere Zukunft 
        gemeinsam mit uns zu gestalten.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <p>Copyright &copy; 2016. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
  </div>
</div>
<script type="text/javascript" src="../assets/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="../assets/js/bootstrap.js"></script> 
<script type="text/javascript" src="../assets/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="../assets/js/jquery.counterup.js"></script> 
<script type="text/javascript" src="../assets/js/waypoints.js"></script> 
<script type="text/javascript" src="../assets/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="../assets/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="../assets/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="../assets/js/contact_me.js"></script> 
<script type="text/javascript" src="../assets/js/owl.carousel.js"></script> 
<script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>